/* gerais */

.btn{
    padding: 10px 30px;
    border: 3px solid #711522;
    border-color: #711522;
    background: none;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: bold;
    color: #711522;
    
}

.btn:hover{
    border-color: #BF7186;
    color: #BF7186;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size:48px;
    color: #BF7186;
    text-align: center;
    padding-top: 60px;

}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    color: #BF7186;
    text-align: center;
    padding-top: 15px;
}

/* header */

.header{
    width: 100%;
    background-color: #FF5193;
    padding: 15px 0;
    top: 0;
    position: fixed;
    z-index: 1;
    

}



.header-menu{
    text-align: right;


    
}

.header-menu ul li {
    margin-left: 25px;
    margin-top: 20px;
    display: inline-block;


}

.header-menu ul li a{
    color: #711522;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 0;

}
.header-menu ul li a.menu-ativo{
    color: #fff;
}


.header-menu ul li a.menu-ativo::after{
    color: #fff;
    content: "";
    display: block;
    width: 33px;
    height: 3px;
    background:#fff;
    margin: 6px auto;
}



.header-menu ul li a:hover {
    color: #fff;
}


/* introdução */
.introducao{
    width: 100%;
    height: 200px;
    background: url("../img/bg-home.jpg") no-repeat ;
    background-size: cover; 
    margin-top: 96px;
    
}



/*  */

.consciente p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    color: #711522;
    text-align: center;
    padding: 25px 0;
}

.cao-1 img{
    width: 600px;
    height: 300px;
}

.cao-2 img{
    width: 350px;
    height: 300px;  
    text-align: right;
    padding-left: 20px;
}


/*  */

.informacoes{
margin: 60px 0;
text-align: center;
}




/* Modal */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 500px;
    height: 500px;
    border-radius: 10%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }


.modal_cadastro{
   display: flex;
   flex-direction:column;
   align-items: center;
  

}

.container_modal{
    margin-top: 80px;
}

.flex{
 margin-top: 50px; 
    text-align: right;
}

.flex p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
    font-weight: bold;
    text-align: right;
    margin: 6px 0;
}


/* style form */

.modal_cadastro label{
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 25px;
    margin-bottom:4px; 
    
}

.modal_cadastro input{
    
    width: 200px;
    border: 3px solid #711522;
    background: none;
    padding: 7px 10px;
    margin-bottom: 10px;
    outline: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    
    

}


/* footer */
.footer{
    width: 100%;
    height: 100px;
    background-color: #FF5193;
}